body {
    height: 100vh;
    margin: 0;
}

/* title */
#title {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

#title > h1 {
    font-style: italic;
}

/* hoome */
#home {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;
}

#section1 {
    width: 80%;
}

#img1 {
    position: relative;
    left: 10%;
    bottom: -50px;
    border-radius: 10px;
}

#img2 {
    border-radius: 10px;
    width: 70%;
    box-shadow: 2px 2px 15px rgba(128, 128, 128, 0.844);
}

#para {
    width: 30%;
    margin: auto;
    border: none;
    outline: none;
    padding: 0px 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
    position: relative;
    right: 8%;
    bottom: -80px;
}

#para > p {
    font-size: 1rem;
    text-align: justify;
}